@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400&display=swap');

vityabody {
	color: #ddd;
}

.inverted .logo a,
.inverted .logo a:link,
.inverted .logo a:active,
.inverted .logo a:hover,
.inverted .logo a:visited {
	color: #fff;
}

.logo a,
.logo a:link,
.logo a:active,
.logo a:hover,
.logo a:visited {
	color: #000;
}

.logo h3 {
	padding: 14px 18px;
	line-height: 16px;
}

.inverted.main.menu .toc.item {
	display: none;
}

@media only screen and (max-width: 768px) {

	.inverted.main.menu .toc.item {
		display: inherit;
	}

	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}

	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}
}

p {
	font-size: 16px;
	line-height: 1.5;
}

a,
a:link,
a:visited {

	color: #39b490;

}

a:active,
a:hover {

	color: #1d5c49;

}

h1,
h2,
h3 {
	font-family: 'Karla', sans-serif;
}

h1.sans-serif,
h2.sans-serif,
h3.sans-serif {
	font-family: "Lato", sans-serif;
}

h1,
h2 {
	font-weight: 400;
}

h1.ui,
h2.ui {
	font-weight: 400;
}

h3 {
	font-weight: 600;
}

h3.ui {
	font-weight: 600;
}

h1.big {
	font-weight: 300;
	font-size: 48px;
}

h1.title {
	font-weight: 300;
	font-size: 56px;
}


.ui.transparent.menu {
	background: none;
}

img.logo {
	margin-right: 1.5em !important;
	border-radius: 100%;
}

.ui.inverted.vertical.masthead.center.aligned.segment {
	z-index: 100;
	background: rgba(27, 28, 29, 0.71);
}

.ui.vertical.segment:not(.inverted) {
	background-color: #FFFFFF;
}


.ui.vertical.segment.title-band h1.title {
	margin-top: 10px;
}

.ui.vertical.segment.title-band h2.subtitle {
	margin: 0;
	font-weight: 300;
}


.hidden.menu {
	display: none;
}


.ui.items>.item>.content>.inverted.header {
	color: #FFFFFF;
	font-family: "Roboto Slab", serif;
	font-weight: 400;
}

.ui.inverted.segment a:link,
.ui.inverted.segment a:hover,
.ui.inverted.segment a:active,
.ui.inverted.segment a:visited {
	color: #FFF;
}

.ui.inverted.discord.segment {
	background-color: #7289DA !important;
	color: #FFF;
}

.ui.inverted.keybase.segment {
	background-color: #FF7100 !important;
	color: #FFF;
}

.ui.inverted.linkedin.segment {
	background-color: #0077B5 !important;
	color: #FFF;
}

.ui.inverted.steam.segment {
	background-color: #000 !important;
	color: #FFF;
}

.ui.inverted.twitter.segment {
	background-color: #1DA1F2 !important;
	color: #FFF;
}

#root .ui.secondary.inverted.pointing.menu {
	border-color: rgba(34, 36, 38, 0);
}

#masthead-hncod {

	background: linear-gradient(rgba(49, 49, 49, 0.45), rgba(49, 49, 49, 0.45)), url("https://m.gjcdn.net/game-thumbnail/1280/607041.png"), #222;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 545px;
	padding: 1em 0em;

}

#root .masthead.segment {
	/*background: linear-gradient(rgba(49, 49, 49, 0.45), rgba(49, 49, 49, 0.45)), url("vitya_800_431.png"), #222;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 545px;
	padding: 1em 0em;
}

#root .masthead .logo.item img {
	margin-right: 1em;
}

#root .masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}

#root .masthead h1.ui.header {
	margin-top: 2.5em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}

#root .masthead h2.ui.header {
	margin-top: 3.5em;
	margin-bottom: 0em;
	font-size: 3em;
	font-weight: normal;
}

@media only screen and (max-width: 768px) {
	#root .masthead h1.ui.header {
		margin-top: 25% !important;
		font-size: 2.5em !important;
	}
}

#root .masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

#root .ui.vertical.stripe {
	padding: 4em 0em;
}

#root .ui.vertical.stripe h3 {
	font-size: 2em;
}

#root .ui.vertical.stripe .button+h3,
#root .ui.vertical.stripe p+h3 {
	margin-top: 3em;
}

#root .ui.vertical.stripe .floated.image {
	clear: both;
}

#root .ui.vertical.stripe p {
	font-size: 1.33em;
}

#root .ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

#root .quote.stripe.segment {
	padding: 0em;
}

#root .quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

@media only screen and (max-width: 768px) {
	#root .masthead.segment {
		min-height: 468px;
	}

	#root .masthead h2 {
		margin-bottom: 5em;
	}
}

.top-margin {
	margin-top: 21px;
}

.left-margin {
	margin-left: 6px !important;
}

.ui.section-padding-top {
	padding-top: 20px;
}

.ui.section-padding-top.double {
	padding-top: 40px;
}

.ui.section-padding-bottom {
	padding-bottom: 20px;
}

.ui.section-padding-bottom.double {
	padding-bottom: 40px;
}

.inline {
	display: inline;
}

.text-middle {
	vertical-align: middle;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.text-center {
	text-align: center !important;
}

.p-4 {
	padding: 1.5rem !important;
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.mt-4,
.my-4 {
	margin-top: 1.5rem !important;
}

.pb-5,
.py-5 {
	padding-bottom: 3rem !important;
}

.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important;
}

@media (max-width: 1199.98px) {

	header[class^=pt-],
	header[class*=" pt-"],
	section[class^=pt-],
	section[class*=" pt-"] {
		padding-top: 80px;
	}

	header[class^=pb-],
	header[class*=" pb-"],
	section[class^=pb-],
	section[class*=" pb-"] {
		padding-bottom: 80px;
	}
}

.pt-90 {
	padding-top: 90px;
}

header,
section,
[data-bg-src],
[data-bg-src-2x] {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

mark,
.mark {
	padding: 0.2em;
	background-color: #fcf8e3;
}

.rounded {
	/*border-radius: 0.25rem !important;*/
	border-radius: 12px !important;
}

.rounded-6 {
	border-radius: 6px !important;
}

section {
	padding: 25px 0;
	display: block;
}

section .section-title {
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.bg-dark {
	background-color: #1b1c1d !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
	background-color: black !important;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}


.p-5 {
	padding: 3rem !important;
}

@media (min-width: 992px) {
	.col-lg {
		flex-basis: 0;
		flex-grow: 1;
		min-width: 0;
		max-width: 100%;
	}

	.row-cols-lg-1>* {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.row-cols-lg-2>* {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.row-cols-lg-3>* {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.row-cols-lg-4>* {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.row-cols-lg-5>* {
		flex: 0 0 20%;
		max-width: 20%;
	}

	.row-cols-lg-6>* {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-lg-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-lg-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}

	.col-lg-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-lg-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-lg-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.col-lg-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-lg-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.col-lg-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.col-lg-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-lg-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}

	.col-lg-11 {
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}

	.col-lg-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.order-lg-first {
		order: -1;
	}

	.order-lg-last {
		order: 13;
	}

	.order-lg-0 {
		order: 0;
	}

	.order-lg-1 {
		order: 1;
	}

	.order-lg-2 {
		order: 2;
	}

	.order-lg-3 {
		order: 3;
	}

	.order-lg-4 {
		order: 4;
	}

	.order-lg-5 {
		order: 5;
	}

	.order-lg-6 {
		order: 6;
	}

	.order-lg-7 {
		order: 7;
	}

	.order-lg-8 {
		order: 8;
	}

	.order-lg-9 {
		order: 9;
	}

	.order-lg-10 {
		order: 10;
	}

	.order-lg-11 {
		order: 11;
	}

	.order-lg-12 {
		order: 12;
	}

	.offset-lg-0 {
		margin-left: 0;
	}

	.offset-lg-1 {
		margin-left: 8.33333%;
	}

	.offset-lg-2 {
		margin-left: 16.66667%;
	}

	.offset-lg-3 {
		margin-left: 25%;
	}

	.offset-lg-4 {
		margin-left: 33.33333%;
	}

	.offset-lg-5 {
		margin-left: 41.66667%;
	}

	.offset-lg-6 {
		margin-left: 50%;
	}

	.offset-lg-7 {
		margin-left: 58.33333%;
	}

	.offset-lg-8 {
		margin-left: 66.66667%;
	}

	.offset-lg-9 {
		margin-left: 75%;
	}

	.offset-lg-10 {
		margin-left: 83.33333%;
	}

	.offset-lg-11 {
		margin-left: 91.66667%;
	}
}

.mb-lg-0,
.my-lg-0 {
	margin-bottom: 0 !important;
}

.mb-5,
.my-5 {
	margin-bottom: 3rem !important;
}

.mr-auto,
.mx-auto {
	margin-right: auto !important;
}

.mb-auto,
.my-auto {
	margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
	margin-left: auto !important;
}

.rounded-circle {
	border-radius: 50% !important;
}

@media (min-width: 768px) {
	.col-md {
		flex-basis: 0;
		flex-grow: 1;
		min-width: 0;
		max-width: 100%;
	}

	.row-cols-md-1>* {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.row-cols-md-2>* {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.row-cols-md-3>* {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.row-cols-md-4>* {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.row-cols-md-5>* {
		flex: 0 0 20%;
		max-width: 20%;
	}

	.row-cols-md-6>* {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-md-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-md-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}

	.col-md-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-md-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.col-md-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.col-md-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.col-md-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-md-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}

	.col-md-11 {
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}

	.col-md-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.order-md-first {
		order: -1;
	}

	.order-md-last {
		order: 13;
	}

	.order-md-0 {
		order: 0;
	}

	.order-md-1 {
		order: 1;
	}

	.order-md-2 {
		order: 2;
	}

	.order-md-3 {
		order: 3;
	}

	.order-md-4 {
		order: 4;
	}

	.order-md-5 {
		order: 5;
	}

	.order-md-6 {
		order: 6;
	}

	.order-md-7 {
		order: 7;
	}

	.order-md-8 {
		order: 8;
	}

	.order-md-9 {
		order: 9;
	}

	.order-md-10 {
		order: 10;
	}

	.order-md-11 {
		order: 11;
	}

	.order-md-12 {
		order: 12;
	}

	.offset-md-0 {
		margin-left: 0;
	}

	.offset-md-1 {
		margin-left: 8.33333%;
	}

	.offset-md-2 {
		margin-left: 16.66667%;
	}

	.offset-md-3 {
		margin-left: 25%;
	}

	.offset-md-4 {
		margin-left: 33.33333%;
	}

	.offset-md-5 {
		margin-left: 41.66667%;
	}

	.offset-md-6 {
		margin-left: 50%;
	}

	.offset-md-7 {
		margin-left: 58.33333%;
	}

	.offset-md-8 {
		margin-left: 66.66667%;
	}

	.offset-md-9 {
		margin-left: 75%;
	}

	.offset-md-10 {
		margin-left: 83.33333%;
	}

	.offset-md-11 {
		margin-left: 91.66667%;
	}
}

.text-muted {
	color: #6c757d !important;
}

html {
	scroll-behavior: smooth;
}

/* slider css */
/* glide */
.slider {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slides {
	height: 50%;
	overflow: hidden;
	*zoom: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.slide-item {
	height: 100%;
	float: left;
	clear: none;
}

.slider-arrow {
	position: absolute;
	display: block;
	margin-bottom: -20px;
	padding: 20px;
}

.slider-arrow--right {
	bottom: 50%;
	right: 30px;
}

.slider-arrow--left {
	bottom: 50%;
	left: 30px;
}

.slider-nav {
	position: absolute;
	bottom: 60px;
}

.slider-nav__item {
	width: 12px;
	height: 12px;
	float: left;
	clear: none;
	display: block;
	margin: 0 5px;
	background: #fff;
}

.slider-nav__item:hover {
	background: #ccc;
}

.slider-nav__item--current {
	background: #ccc;
}

/* unique slider css */
.slider-nav__item {
	border-radius: 50%;
}

@media only screen and (min-width: 768px) {

	.slider-arrow--right,
	.slider-arrow--left {
		background-image: url('sources/img/glide-arrows.png');
		background-repeat: no-repeat;
		width: 17px;
		height: 28px;
		display: block;
		padding: 0;
	}

	.slider-arrow--right {
		background-position: -17px 0;
	}

	.slider-arrow--left {}
}

/* home page slider - start */
.slider1 .slide-item {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
}

.slider1 {
	color: #fff;
}

.slider1 .content {
	margin-top: 37%;
	margin-bottom: 20%;
}

.slider1 h2 {
	font-family: 'lobster', sans-serif;
	font-size: 5em;
	font-weight: 200;
	margin-bottom: 1.2em;
	text-shadow: 0 .05em .05em #c25b1d !important;
}

.slider1 .note {
	max-height: 5em;
	min-height: 5em;
	max-width: 5em;
	min-width: 5em;
	display: inline !important;
}

/* home page slider - start */
/* resume page slider - highlights - start */
.slider2,
.slider3 {
	background-color: #CEE4ED;
	border: 1px solid #B8E3F5;
	border-radius: 5px;
	margin-bottom: 2em;
}

.slider2 .content,
.slider3 .content {
	margin-bottom: 0%;
	margin-top: 5%;
}

.slider2 .slider-arrow--right,
.slider2 .slider-arrow--left,
.slider3 .slider-arrow--right,
.slider3 .slider-arrow--left,
.slider5 .slider-arrow--right,
.slider5 .slider-arrow--left {
	background-image: url('/old-jeffry-in/assets/glide-arrows-inverted.png');
}

.slider2 .slider-nav,
.slider3 .slider-nav,
.slider5 .slider-nav {
	display: none;
}


:root{
  scrollbar-color: rgba(210,210,210, 0.8) rgba(46,54,69, 0.8) !important;
  scrollbar-width: thin !important;
}

/* resume page slider - highlights - end */
:root {
	--scrollbarBg: rgba(46,54,69, 0.8);
	--scrollbarThumb: rgba(210,210,210, 0.8);
	--scrollbarWidth: 12px;
	--scrollbarBorder: 3px solid var(--scrollbarBg);
	--scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

.scroll {
	scrollbar-width: var(--scrollbarWidth);
	scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}

.scroll::-webkit-scrollbar {
	width: var(--scrollbarWidth);
}

.scroll::-webkit-scrollbar-track {
	background: var(--scrollbarBg);
}

.scroll::-webkit-scrollbar-thumb {
	background-color: var(--scrollbarThumb);
	border-radius: var(--scrollbarBorderRadius);
	border: var(--scrollbarBorder);
}

.pusher {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
}

body.pushable>.pusher {
	background-color: #222;
}

.ui.header {
	color: #ddd;
}

.ui.dividing.header {
	padding-bottom: .21428571rem;
	border-bottom: 1px solid rgba(255, 255, 255, .15);
}

p.lead {
	color: #ddd !important;
}

.ui.container h1.ui.huge.header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	margin-top: 40px;
	font-size: 36px;
}

.ui.borderless.menu {
	box-shadow: none;
	flex-wrap: wrap;
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.ui.borderless.menu .header.item {
	font-size: 18px;
	font-weight: 400;
	margin-left: -12px;
}

.ui.container.grid h1.ui.header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	margin-top: 40px;
	font-size: 36px;
}

.ui.tablet.computer.only.padded.grid .ui.menu a.header.item {
	padding-left: 0;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
	display: none;
}

.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon {
	float: unset;
}

.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon:before {
	content: "\f0d7";
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
	position: static;
	width: 100%;
	background-color: #222;
	border: none;
	box-shadow: none;
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
	margin-top: 6px;
}

footer {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
	background-color: #111;
	position: absolute;
	bottom: 0;
}

.footer {
	margin-top: 64px;
}

footer p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999;
}

p.lead {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 21px;
	color: #333333;
	line-height: 1.4;
	font-weight: 300;
}

.text-primary {
	color: #00aa65 !important;
}

code {
	font-size: 87.5%;
	color: #e83e8c;
	word-wrap: break-word;
}

.menu>.ui.container>.item.header:hover {
	background-color: transparent;
}

.following-bar {
	padding: 2em 0em;
	position: fixed;
	top: 0px;
	z-index: 900;
	left: 0%;
	width: 100%;
	box-shadow: 0px 0px 0px 0px transparent;
	transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}

.header-dark {
	background-color: #111 !important;
	padding: 0em 0em;
}

.following-bar>.menu.secondary {
	margin-left: 1px;
}

@media only screen and (max-width: 768px) {
	.tlcontrol-header {
		display: none;
	}

	.tlcontrol-header-mobile>.only-mobile {
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	.tlcontrol-header {
		display: block;
	}

	.tlcontrol-header-mobile>.only-mobile {
		display: none;
	}
}

.none {
	display: none !important;
}

@media only screen and (max-width: 767px) {
	.starlight {
		display: none;
	}
}

.tr-popup {
	display: none;
}

.text.white {
	color: #FFFFFF;
}

.text.grey {
	color: #CCCCCC;
}

.text.black {
	color: #1B1C1D;
}

.text.yellow {
	color: #F2C61F;
}

.text.teal {
	color: #00B5AD;
}

.text.red {
	color: #D95C5C;
}

.text.purple {
	color: #564F8A;
}

.text.pink {
	color: #D9499A;
}

.text.orange {
	color: #E07B53;
}

.text.green {
	color: #5BBD72;
}

.text.blue {
	color: #3B83C0;
}

.masthead-images {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}
